@use "../abstracts/" as * ;
@forward "./navlist";
@forward "./cardSection";

.container{
    max-width: 1440px;
    padding: 30px 100px;
    margin: 0 auto;

    @include tablet {
        max-width: 768px;
      }
    
      @include mobile {
        padding: 0 15px;
        max-width: 480;
      }
}
