@use "../abstracts" as *;

.header-contaiter__menu{
    ul{
        @include flex($wrap: 10px);
        flex-wrap: wrap;
        .classList{
            padding: 10px 15px;
            letter-spacing: 1px;
            cursor: pointer;
            border-radius: 2px;
            transition: all 0.3s ease;
            color: $test-color-navitem;
        }
        .lassList:hover {
            background-color: $backgroud-color-dominant;
          }
    }
}
