

@use "../abstracts/" as *;

@font-face {
    font-family: Poppins;
    src: url(../assets/fonts/Poppins/FontsFree-Net-Poppins-Regular.ttf);
}

@font-face {
    font-family: Source;
    src: url(../assets/fonts/Source-sans-pro/Source-Sans-Pro-Regular.ttf);
}

body{
    max-width: 1440px;
    min-width: 428px;
}
