@use "functions" as *;
//reponsive
$small:480px;
$medium: 768px;
$extra-large: 1440px;
$desktop:$extra-large;
$mobile: calc($small - 1px);
$tablet: calc($medium - 1px);


//color
$backgroud-color-dominant:#09B451;
$test-color-navitem:#404040;
$background-lightmode:#EEEFF2;
$text-color-secondary:#FFFFFF;
$backgroud-image-banner:linear-gradient(to right top, 
rgb(238, 247, 238),rgb(255, 255, 255));
$backgroud-line:#E4FFFF;
$backgroud-iconperson:#E1FFEE;

//font
$font-source: Source;
$font-poppins: Poppins;
