@use "../../abstracts/" as *;

.banner-service {
  background: $text-color-secondary;
  margin: 0 auto;

  &--top {
    background-image: $backgroud-image-banner;
    border-radius: pxToRem(50);
    position: relative;

    @include tablet {
      border-radius: 0%;
    }

    @include mobile {
      border-radius: 0%;
    }

    .banner__line {
      position: absolute;
      border-top-right-radius: pxToRem(50);
      border-bottom-right-radius: pxToRem(50);
      min-width: 107px;
      min-height: 100%;
      background: $backgroud-line;
      right: 0;

      @include tablet {
        margin: auto;
        border-radius: 0;
        position: absolute;
        min-height: 1250px;
        background: $backgroud-line;
        right: 0;
        z-index: 1 2;
      }

      @include mobile {
        margin: auto;
        border-radius: 0%;
        position: absolute;
        min-width: 107px;
        min-height: 1011px;
        background: $backgroud-line;
        right: 0;
        z-index: 1 2;
      }
    }

    .banner__education {
      @include flex($justify: space-between, $wrap: wrap);

      &--content {
        padding: 50px 0px 50px 90px;
        flex: 1;
        z-index: 1;

        @include tablet {
          flex: 1;
          padding: 80px;
          z-index: 1;
        }

        @include mobile {
          flex: 1;
          padding: 60px;
          z-index: 1;
        }

        &--capital {
          font-family: Poppins;
          font-size: 60px;
          line-height: 90px;
          font-weight: 700;
          margin: 20px auto;

          @include tablet {
            font-family: Poppins;
            font-size: 55px;
            font-weight: 700;
            line-height: 60px;
            text-align: left;
            margin: 20px auto;
          }

          @include mobile {
            font-family: Poppins;
            font-size: 32px;
            font-weight: 700;
            line-height: 48px;
            text-align: left;
          }
        }

        &--dots {
          width: 10px;
          height: 10px;
          background: $test-color-navitem;
          border-radius: 50%;
          display: inline-block;

          @include tablet {
            width: 8px;
            height: 8px;
          }

          @include mobile {
            width: 5px;
            height: 5px;
          }
        }

        &--green {
          color: $backgroud-color-dominant;

          @include mobile {
            font-family: Poppins;
            font-size: 32px;
            font-weight: 700;
            line-height: 48px;
            text-align: left;
          }
        }

        &--btn {
          padding: 20px 45px;
          border-radius: 5px;
          background: $backgroud-color-dominant;
          border: none;
          font-family: Source;
          font-size: 16px;
          line-height: 20px;
          font-weight: 600;
          color: $text-color-secondary;
        }

        &--btn:hover {
          background-color: $test-color-navitem;
          cursor: pointer;
        }
      }

      &--image {
        margin: 25px 90px;
        position: relative;
        left: 50px;

        @include tablet {
          margin: 0px auto;
          left: 40px;
        }

        @include mobile {
          margin: 0px auto;
          left: 20px;
        }

        img {
          border-radius: 40px 40px 100px 40px;

          @include tablet {
            max-width: 80%;
          }
        }
      }

      &--position--instructors {
        max-width: 262px;
        background: $text-color-secondary;
        position: absolute;
        top: 230px;
        left: -150px;
        border-radius: 10px;

        &--content {
          padding: 0px 10px;
          font-family: Poppins;
          font-size: 20px;
          line-height: 30px;
          font-weight: 600;
          word-wrap: break-word;
          text-align: center;

          @include tablet {
            padding: 20px 15px;
            font-family: Poppins;
            font-size: 15.87px;
            font-weight: 700;
            line-height: 18.3px;
            word-wrap: break-word;
          }

          @include mobile {
            padding: 10px 15px;
            font-family: Poppins;
            font-size: 10.87px;
            font-weight: 600;
            line-height: 16.3px;
            word-wrap: break-word;
          }

          span {
            color: $backgroud-color-dominant;
          }
        }

        &--johnmark {
          display: flex;
          justify-content: start;
          padding: 0px 35px;

          .johnmark__item {
            position: relative;

            img {
              max-width: 60px;
              min-height: 60px;
              border-radius: 50%;
              border: 5px solid $text-color-secondary;

              @include tablet {
                max-width: 38.17px;
                min-height: 38.17px;
                border: 3px solid $text-color-secondary;
              }

              @include mobile {
                max-width: 27.17px;
                min-height: 27.17px;
                border: 2px solid $text-color-secondary;
              }
            }
          }

          .johnmark__item:nth-child(2) {
            left: -25px;
          }

          .johnmark__item:nth-child(3) {
            left: -50px;
          }

          .johnmark__item:nth-child(4) {
            left: -75px;
          }

          .johnmark__item:nth-child(5) {
            left: -100px;
          }
        }

        @include tablet {
          max-width: 180.36px;
          background: $text-color-secondary;
          position: absolute;
          top: 180px;
          left: -90px;
          border-radius: 7.61px 7.61px 16.3px 7.61px;

          &--johnmark {
            padding: 0px 15px;

            .johnmark__item:nth-child(2) {
              left: -10px;
            }

            .johnmark__item:nth-child(3) {
              left: -20px;
            }

            .johnmark__item:nth-child(4) {
              left: -30px;
            }

            .johnmark__item:nth-child(5) {
              left: -40px;
            }
          }
        }

        @include mobile {
          max-width: 142.36px;
          background: $text-color-secondary;
          position: absolute;
          top: 135px;
          left: -60px;
          border-radius: 7.61px 7.61px 16.3px 7.61px;

          &--johnmark {
            padding: 0 25px;

            .johnmark__item:nth-child(2) {
              left: -10px;
            }

            .johnmark__item:nth-child(3) {
              left: -20px;
            }

            .johnmark__item:nth-child(4) {
              left: -30px;
            }

            .johnmark__item:nth-child(5) {
              left: -40px;
            }
          }
        }
      }

      &--position--amazing {
        max-width: 129px;
        background: $text-color-secondary;
        position: absolute;
        top: 335px;
        right: -20px;
        text-align: center;
        border-radius: 6.89px;

        @include tablet {
          background: $text-color-secondary;
          max-width: 122.84px;
          position: absolute;
          top: 255.95px;
          right: 50px;
          border-radius: 4.16px 4.16px 10.39px 4.16px;
        }

        @include mobile {
          background: $text-color-secondary;
          max-width: 77.84px;
          position: absolute;
          top: 203.95px;
          right: -10px;
          border-radius: 4.16px 4.16px 10.39px 4.16px;
        }

        &--icons-person {
          background: $backgroud-iconperson;
          border-radius: 50%;
          margin: 10px 50px;

          @include tablet {
            margin: 5px 40px;
          }

          @include mobile {
            margin: 2px 25px;
          }

          img {
            margin: 5px auto;

            @include tablet {
              margin: 5px auto;
            }

            @include mobile {
              margin: 5px auto;
            }
          }
        }

        &--content {
          word-wrap: break-word;
          padding: 0px 11px;
          text-align: center;
          font-family: Poppins;
          font-size: 12px;
          line-height: 18px;
          font-weight: 500;

          @include mobile {
            word-wrap: break-word;
            padding: 0px 8px;
            font-family: Poppins;
            font-size: 7.24px;
            font-weight: 500;
            line-height: 10.86px;
          }

          span {
            padding: 0px 15px;
            color: $backgroud-color-dominant;
            font-family: Poppins;
            font-size: 24px;
            font-weight: 600;
            line-height: 36px;

            @include mobile {
              font-family: Poppins;
              font-size: 14.48px;
              font-weight: 600;
              line-height: 21.72px;
            }
          }
        }
      }
    }
  }
}
