<main class="main-container">
  <section class="banner-service">
    <div class="banner-service--top">
      <div class="banner__line"></div>
      <div class="banner__education">
        <div class="banner__education--content">
          <p class="banner__education--content--capital">
            Quality
            <span class="banner__education--content--green">Education</span> By
            Any Means Necessary
            <span class="banner__education--content--dots"></span>
          </p>
          <include
            src="./components/buttonbanner.html"
            locals='{
            "btnvalue":["Get Started"],
            "classbtn":"banner__education--content--btn"
          }'
          >
          </include>
          <!-- <button class="banner__education--content--btn">Get Started</button> -->
        </div>
        <div class="banner__education--image">
          <figure>
            <img src="../assets/images/desktop/banner-1.png" alt="" />
          </figure>
          <div class="banner__education--position--instructors">
            <p>Learn from best <span>instructors</span> around the globe</p>
            <div class="banner__education--position--instructors--johnmark">
              <include
                src="./components/johnmarkimage.html"
                locals='{
                "imglist": [ "johnmark-senior.png", "johnmark-senior.png", "johnmark-senior.png", "johnmark-senior.png", "johnmark-senior.png"],
                "altname":"johnmark-senior",
                "classfigure":"johnmark__item"
                }'
              >
              </include>
            </div>
          </div>
          <div class="banner__education--position--amazing">
            <div class="banner__education--position--amazing--icons-person">
              <img src="../assets/icons/bi_person.svg" alt="bi_person" />
            </div>
            <h2>15k</h2>
            <p>Amazing students around the globe</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
