<main class="main-container">
  <section class="banner-service">
    <div class="banner-service--bottom">
      <include
        src="./components/serviceitem.html"
        locals='{
          "list": 
          [ {"icon":"arcticons_math","content":"Problem Solving","altname":"arcticons_math"},
            {"icon":"Group","content":"Live chat","altname":"Group"},
            {"icon":"ci_group","content":"Group Reading","altname":"ci_group"},
            {"icon":"bi_book","content":"10k Courses","altname":"bi_book"},
            {"icon":"cib_skillshare","content":"Hand-on activities","altname":"cib_skillshare"}]
        }'
      >
      </include>
    </div>
  </section>
</main>
