<main class="main-container">
  <section class="banner-service">
    <div class="banner-service--top">
      <div class="banner__line"></div>
      <div class="banner__education">
        <div class="banner__education--content">
          <p class="banner__education--content--capital">
            Quality
            <span class="banner__education--content--green">Education</span> By
            Any Means Necessary
            <span class="banner__education--content--dots"></span>
          </p>
          <button class="banner__education--content--btn">Get Started</button>
        </div>
        <div class="banner__education--image">
          <picture>
            <source
              srcset="../assets/images/mobile/banner-1.png"
              media="(max-width:480px)"
            />
            <img src="../assets/images/desktop/banner-1.png" alt="" />
          </picture>
          <div class="banner__education--position--instructors">
            <p class="banner__education--position--instructors--content">
              Learn from best <span>instructors</span> around the globe
            </p>
            <div class="banner__education--position--instructors--johnmark">
              <include
                src="./components/johnmarkimage.html"
                locals='{
                  "imglist": [ "johnmark-senior.png", "johnmark-senior.png", "johnmark-senior.png", "johnmark-senior.png", "johnmark-senior.png"],
                  "altname":"johnmark-senior",
                  "classfigure":"johnmark__item"
                  }'
              >
              </include>
            </div>
          </div>
          <div class="banner__education--position--amazing">
            <figure class="banner__education--position--amazing--icons-person">
              <img src="../assets/icons/bi_person.svg" alt="bi_person" />
            </figure>
            <p class="banner__education--position--amazing--content">
              <span>15k</span> Amazing students around the globe
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="banner-service--bottom">
      <include
        src="./components/serviceitem.html"
        locals='{
          "list": 
          [ {"icon":"arcticons_math","content":"Problem Solving","altname":"arcticons_math"},
            {"icon":"Group","content":"Live chat","altname":"Group"},
            {"icon":"ci_group","content":"Group Reading","altname":"ci_group"},
            {"icon":"bi_book","content":"10k Courses","altname":"bi_book"},
            {"icon":"cib_skillshare","content":"Hand-on activities","altname":"cib_skillshare"}]
        }'
      >
      </include>
    </div>
  </section>
</main>
